@import "tailwindcss";

@theme{
    --color-primary: #2B00B7;
    --color-text-primary: #1b1b1b;
    --color-text-light: rgba(0, 0, 0, 0.5);
    --color-text-secondary: #4B465C;
    --color-yellow:rgba(234, 179, 8, 1);
    --color-green:rgba(34, 197, 94, 1);
    --color-skyblue:rgba(59, 130, 246, 1);
    --color-darkblue:rgba(43, 0, 183, 1);
    --color-inputBorder:rgba(217, 217, 217, 1);
}

@layer{ 
    .btn-primary{
        @apply bg-[var(--color-primary)] text-white py-2 sm:py-3 px-4 font-semibold hover:bg-[#2309A1] transition-all duration-200 cursor-pointer disabled:cursor-default disabled:opacity-70;
    }
    .input-primary{
        @apply w-full border border-inputBorder px-4 py-2 sm:py-3 focus:border-0 focus:outline-none focus:ring-1 focus:ring-primary text-black/80 placeholder:text-black/50;
    }
}